<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

   <!-- DAO Configure-->
	<bean id="loginLogDao" class="com.unlimited.oj.dao.hibernate.LoginLogDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	
	<!-- 自定义的Dao写在这下面 -->
	<bean id="taskDao" class="com.unlimited.oj.dao.hibernate.TaskDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
	
</beans>